<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      lista 02
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <ion-alert trigger="Carro" header="valor total viagem" message=total:{{valorFinal}},App:{{valorApp}},Motorista:{{valorMotorista}}  [buttons]="alertButtons"></ion-alert>

    <ion-radio-group value="Carro" [(ngModel)]="carro" id="lista-carros">
      <ion-radio value="normal">Normal</ion-radio><br />
      <ion-radio value="superior">superior</ion-radio><br />
      <ion-radio value="vip">Vip</ion-radio><br />
    </ion-radio-group>

    <ion-label>quilômetros rodados</ion-label>
    <ion-input [(ngModel)]="valorRodados" type="number" placeholder="Digite os quilômetros rodados"></ion-input>


    <ion-button expand="full" id="Carro" (click)="valorViagem()">Valor viagem</ion-button>



  </div>
</ion-content>
