<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      lista 02
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-alert trigger="Carro" header="carro escolhida" message={{valorFinal}} [buttons]="alertButtons"></ion-alert>

  <ion-radio-group value="Carro" [(ngModel)]="carro">
    <ion-radio value="normal">Normal</ion-radio><br />
    <ion-radio value="superior">superior</ion-radio><br />
    <ion-radio value="vip">Vip</ion-radio><br />
  </ion-radio-group>

  <ion-label>quilômetros rodados</ion-label>
  <ion-input [(ngModel)]="valorRodados" type="number" placeholder="Digite os quilômetros rodados"></ion-input>

  <ion-button expand="full" id="dispara-alert" (click)="valorViagem()">Valor viaem</ionbutton>


   
</ion-content>
